#container {
    width: 450px;
}

#container div {
    width: 28px;
    height: 28px;
    border: 1px solid black;
    float: left;
}

.grey {
    background-color: grey;
}

.player {
    background-color: green;
}